<h1>Galatical Posts</h1>

{% for post in pagination %}
<div>
    <h2>{{ post.title }}</h2>
    {{ post.createDate|date('Y-m-d h:ia') }}
    <div>
        {{ post.body }}
    </div>
</div>
{% endfor %}

<div class="count">
    {{ pagination.getTotalItemCount }}
</div>

{% for article in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
    <td>{{ article.id }}</td>
    <td>{{ article.title }}</td>
</tr>
{% endfor %}
</table>

<hr>
<h4>Pagination</h4>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

<hr>
{{ form(form) }}
<hr>
Just A Project - No Style Intended.